<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">

    <!-- Consulta de ItemRentado con información completa de Item y TipoItem -->
    <select parameterType="map" id="consultarItemsRentados" resultMap="ItemRentadoResult">
        SELECT 
            ir.id AS 'ID_ItemRentado',
            ir.CLIENTES_documento,
            ir.ITEMS_id,
            ir.fechainiciorenta,
            ir.fechafinrenta,
            i.id AS 'ID_Item',
            i.nombre AS 'Nombre_Item',
            i.descripcion AS 'Descripcion_Item',
            i.fechalanzamiento,
            i.tarifaxdia,
            i.formatorenta,
            i.genero,        
            ti.id AS 'ID_Tipo_Item',
            ti.descripcion AS 'Descripcion_Tipo_Item'
        FROM VI_ITEMRENTADO AS ir 
        LEFT JOIN VI_ITEMS AS i ON ir.ITEMS_id = i.id 
        LEFT JOIN VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id;
    </select>

    <select id="consultarItemRentado" parameterType="int" resultMap="ItemRentadoResult">
    SELECT 
        ir.id AS 'ID_ItemRentado',
        ir.CLIENTES_documento,
        ir.ITEMS_id,
        ir.fechainiciorenta,
        ir.fechafinrenta,
        i.id AS 'ID_Item',
        i.nombre AS 'Nombre_Item',
        i.descripcion AS 'Descripcion_Item',
        i.fechalanzamiento,
        i.tarifaxdia,
        i.formatorenta,
        i.genero,        
        ti.id AS 'ID_Tipo_Item',
        ti.descripcion AS 'Descripcion_Tipo_Item'
    FROM VI_ITEMRENTADO AS ir 
    LEFT JOIN VI_ITEMS AS i ON ir.ITEMS_id = i.id 
    LEFT JOIN VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id
    WHERE ir.id = #{id}
</select>



    <insert id="insertarItemRentado" parameterType="map">
        INSERT INTO VI_ITEMRENTADO (CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta)
        VALUES (#{idcli}, #{idit}, #{fechainicio}, #{fechafin})
    </insert>


    

    <resultMap id="ItemRentadoResult" type="edu.unisabana.dyas.samples.entities.ItemRentado">
        <id property="id" column="ID_ItemRentado"/>
        <result property="fechaInicioRenta" column="fechainiciorenta"/>
        <result property="fechaFinRenta" column="fechafinrenta"/>
        <!-- Mapea la relación con Item, reutilizando el resultMap definido en ItemMapper -->
        <association property="item" javaType="edu.unisabana.dyas.samples.entities.Item" 
                     resultMap="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"/>
    </resultMap>

</mapper>
